@charset "UTF-8";
/*极昼模式*/
.sun_body {
  background: #dde8fc;
}

.sun_body #cmusic_wrap_div,
.sun_body .cwin_content,
.sun_body .cmusic_footerBar_content {
  border: none;
  background: #dde8fc;
  box-shadow: 11px 11px 22px #a3cde0, -11px -11px 22px #dcfbfd;
  -webkit-box-shadow: 11px 11px 22px #a3cde0, -11px -11px 22px #dcfbfd;
}

@media (any-hover: hover) {
  .sun_body .cmusic_control_btn:hover {
    border: 3px solid #a3cde0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.sun_body .cmusic_control_btn {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -3px -3px 5px white;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -3px -3px 5px white;
  fill: #a3b4ce;
}

.sun_body .cmusic_control_btn_selected {
  fill: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -3px -3px 5px white, inset 2px 2px 5px #a5c2cf, inset -1px -1px 4px #dde8fc;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -3px -3px 5px white, inset 2px 2px 5px #a5c2cf, inset -1px -1px 4px #dde8fc;
}

.sun_body .cmusic_info_songThumb {
  border: 5px solid #fff;
  box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.1), -14px -14px 28px #f9f9f9;
  -webkit-box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.1), -14px -14px 28px #f9f9f9;
}

.sun_body .cmusic_img_wave {
  background: #33ffff;
}

.sun_body #cmusic_tip_select button {
  fill: #a3b4ce;
}

@media (any-hover: hover) {
  .sun_body .cmusic_playList_li_hover:hover {
    background: #dde8fc;
  }
}

.sun_body .cmusic_playList_item_selected {
  background: #dde8fc;
}

/*提示信息*/
.sun_body .cmusic_tip_span {
  color: #abb8c3;
}

.sun_body .cmusic_control_span_progressBar,
.sun_body .cmusic_control_volume_progressBar {
  background: #dde8fc;
}

/*通用按钮样式*/
.sun_body .cmusic_control_btn_noShadow {
  fill: #a3b4ce;
}

.sun_body .cmusic_control_btn span {
  color: #a3b4ce;
}

/*提示栏*/
.sun_body .cmusic_tip_span a::before {
  color: #fff;
  border-right: 8px solid #a3b4ce;
  -webkit-text-stroke: 1px #66ccff;
}

.sun_body .cmusic_tip_span_animate a::before,
.sun_body .cmusic_tip_span a:hover::before {
  filter: drop-shadow(0 0 25px #a3b4ce);
}
